.container {
  max-width: 90%;
  margin: 0 auto;
}

body {
  background-color: rgb(15, 5, 36);
  font-family: Helvetica;
  margin-top: 0;
}

header {
  background-image: url("image1.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
}
header h1 {
  font-weight: 700;
  font-size: 100px;
  line-height: 200px;
  padding-top: 110px;
  margin-bottom: 15px;
  margin-top: 0;
}

header h2 {
  font-weight: 300px;
  font-size: 40px;
  padding-bottom: 50px;
}

header button {
  background-color: white;
  color: rgb(15, 5, 36);
  border: none;
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
  margin-bottom: 200px;
}

header button a {
  text-decoration: none;
}

header button a:visited {
  text-decoration: none;
  color: rgb(15, 5, 36);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: white;
  padding-bottom: 40px;
}

#contpara {
  margin-left: 20px;
  margin-right: 40px;
}

#contpara h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
}

#contimage {
  margin-right: 20px;
  margin-left: 40px;
}

.contcol {
  margin-top: 30px;
}

.cities {
  background-color: rgb(81, 225, 151);
  color: rgb(15, 5, 36);
  width: 100%;
  text-align: center;
  padding-bottom: 30px;
}

.cities h3 {
  font-size: 30px;
  padding-top: 30px;
  margin-top: 0px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.card {
  border: 3px solid white;
  border-radius: 20px;
  font-size: 25px;
  padding: 10%;
}

.card a {
  text-decoration: none;
}

.card a:visited {
  text-decoration: none;
  color: rgb(15, 5, 36);
}

.card img {
  border-radius: 20px;
  margin-top: 10px;
  width: 80%;
  height: 200px;
}

.food {
  text-align: center;
  color: rgb(15, 5, 36);
  background-color: white;
}

.food h3 {
  font-size: 30px;
  margin-top: 0px;
  padding-top: 30px;
}

table {
  margin-left: 7%;
  border-spacing: 40px;
}

.instagram-media {
  max-width: 300px;
}

footer {
  color: rgb(15, 5, 36);
  padding: 30px;
  background-color: white;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-top: 3px solid rgb(15, 5, 36);
}

.footcol {
  margin-left: 30px;
}

footer a {
  text-decoration: none;
}

footer a:visited {
  text-decoration: none;
  color: rgb(15, 5, 36);
}

ul {
  list-style-type: none;
  padding: 0;
}

@media (max-width: 1000px) {
  .container {
    max-width: 95%;
    max-height: 100px;
  }
  header h1 {
    font-size: 60px;
    padding-top: 30px;
  }
  header h2 {
    font-size: 30px;
    padding-bottom: 30px;
  }
  header-button {
    margin-bottom: 50px;
  }
}
